In [24]:
!pip install pyarrow

import pandas as pd
color = "fhv"
month = 2
year = 2019
dataset_file = f"{color}_tripdata_{year}-{month:02}"
dataset_url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{color}/{dataset_file}.csv.gz"
df = pd.read_csv(dataset_url)

In [ ]:
df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"])
df["dropOff_datetime"] = pd.to_datetime(df["dropOff_datetime"])
df = df.convert_dtypes()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    string
 1   pickup_datetime         datetime64[ns]
 2   dropOff_datetime        datetime64[ns]
 3   PUlocationID            Int64
 4   DOlocationID            Int64
 5   SR_Flag                 Int64
 6   Affiliated_base_number  string
dtypes: Int64(3), datetime64[ns](2), string(2)
memory usage: 96.1 MB

In [19]:
df.columns

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')

In [20]:
df[df.columns].isna().sum()

dispatching_base_num            0
pickup_datetime                 0
dropOff_datetime                0
PUlocationID                    1
DOlocationID                    1
SR_Flag                   1707643
Affiliated_base_number       7107
dtype: int64

In [21]:
len(df)

1707649

In [22]:
df.head(5)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00037,2019-02-01 00:08:44,2019-02-01 00:23:35,264,265,<NA>,B00037
1,B00037,2019-02-01 00:27:51,2019-02-01 00:32:54,264,265,<NA>,B00037
2,B00037,2019-02-01 00:18:30,2019-02-01 00:25:45,264,265,<NA>,B00037
3,B00037,2019-02-01 00:43:15,2019-02-01 00:48:29,264,265,<NA>,B00037
4,B00037,2019-02-01 00:01:45,2019-02-01 00:09:13,264,265,<NA>,B00037

In [3]:
import os
os.getcwd()

'C:\\Users\\Lenovo\\Kaggle competition\\bin'

In [10]:
cd

C:\Users\Lenovo

In [ ]:
from pathlib import Path
path = Path(os.getcwd()+f"/data_engineering_zoomcamp/data/{color}/{dataset_file}.csv.gz").as_posix()
df.to_csv(path, compression="gzip")

In [19]:
#!pip install pyarrow
import pandas as pd
from pathlib import Path
from tqdm import tqdm
import os

color = "fhv"
months = [1]
year = 2019
for month in tqdm(months) :
    dataset_file = f"{color}_tripdata_{year}-{month:02}"
    dataset_url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{color}/{dataset_file}.csv.gz"
    df = pd.read_csv(dataset_url,encoding_errors= 'replace')
  
    df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"])
    ## 2019
    df["dropOff_datetime"] = pd.to_datetime(df["dropOff_datetime"])
    df.rename(columns = {"dropOff_datetime":"dropoff_datetime"}, inplace = True)
    ## 2020 
    #df["dropoff_datetime"] = pd.to_datetime(df["dropoff_datetime"])
    
    df = df.convert_dtypes()

    from pathlib import Path
    path = Path(f"C:/Users/Lenovo/data_engineering_zoomcamp/data/{color}/{dataset_file}.csv.gz").as_posix()
    df.to_csv(path, compression="gzip",index = False)

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [07:33<00:00, 453.50s/it]

In [ ]:
from tqdm import tqdm
for month in tqdm(months) :
    print(month)

# 2020, fhv :

In [10]:
import pandas as pd
color = "fhv"
month = 2
year = 2020
dataset_file = f"{color}_tripdata_{year}-{month:02}"
dataset_url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{color}/{dataset_file}.csv.gz"
df = pd.read_csv(dataset_url,encoding_errors= 'replace')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910157 entries, 0 to 1910156
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropoff_datetime        object
 3   PULocationID            float64
 4   DOLocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 102.0+ MB